* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  width: 100%;
  height: 100vh;
  position: relative;
  font-family: Roboto, Arial, Helvetica;
}
body:after{
  content : "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(./assets/img/fundo-praia.webp); 
  background-size: cover;
  background-repeat: none;
  overflow: hidden;
  width: 100%;
  height: 100%;
  opacity : 0.5;
  z-index: -1;
}
#menu {
  display: flex;
  justify-content: space-around;
  background-color: black;
  height: 47px;
  min-width: 700px;
  align-items: center;
  font-size: 16px;
}
.a-menu {
  text-decoration: none;
  padding: 14px;
  color: white;
  font-weight: bold;
  transition: background .3s;
}
.a-menu:hover {
  background-color: #787878;
}
#exercise1{
  display: flex;
  flex-direction: column;  
  align-items: center;
}
.exercise{
  width: 90vw;
  display: flex;
  flex-direction: column;  
  align-items: center;
}

#frm-inputs{
  height: 20h;
  padding: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff90;
  border: 2px solid #ffa500;
  border-radius: 5px;
  gap: 2vh;
} 
.ctn-input{
  width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1vh;
  gap: 1vw;
}
#ctn-uf{
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1vh;
  gap: 1vw;
}
#sel-uf{
  width: 20vw;
  padding: 2px; 
}
#sel-uf:invalid {
  color: #808080;
}
#sel-uf option {
  color: #000;
}
#sel-uf option:disabled {
  color: #808080;
}
#ctn-city{
  width: 50vw;
  display: none;
  justify-content: center;
  align-items: center;
  padding-top: 1vh;
  gap: 1vw;
}
#sel-city{
  width: 20vw;
  padding: 2px; 
}
#sel-city:invalid {
  color: #808080;
}
#sel-city option {
  color: #000;
}
#sel-city option:disabled {
  color: #808080;
}

th {
  border: 1px solid rgb(190,190,190);
  padding: 2px 5px;
  font-size: 14px;
  text-align: center;
}

td {
  border: 1px solid rgb(190,190,190);
  padding: 2px 5px;
  font-size: 12px;
  text-align: center;
}

.ctn-input label{
  width: 20vw;
  text-align: right;
}
.ctn-input input{
  font-family: Roboto, Arial, Helvetica;
}

#ctn-fetch{
  width: 12vw;
  display: flex;
  align-items: center;
  padding-top: 1vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vh;
}
#msg{
  font-size: 12px;
  text-align: center;
  width: 20vw;
}
#ctn-table{
  padding: 2vh;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff90;
  border: 2px solid #ffa500;
  border-radius: 5px;
  display: none;
}